<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="TransientConnectionString" value="__TransientConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DedsConnectionString" value="__DedsConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WorkingDir" value="__WorkingDir__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>